{
  "Entries": [
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyzeResults/62be37bf-cd35-4dee-af5b-72a39f966ff4",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"succeeded\",\n  \"createdDateTime\": \"2019-11-15T15:58:27Z\",\n  \"lastUpdatedDateTime\": \"2019-11-15T15:58:35Z\",\n  \"analyzeResult\": {\n    \"version\": \"2.0.0\",\n    \"readResults\": [\n      {\n        \"page\": 1,\n        \"angle\": 0,\n        \"width\": 8.5,\n        \"height\": 11.0,\n        \"unit\": \"inch\",\n        \"language\": null,\n        \"lines\": [\n          {\n            \"text\": \"Contoso\",\n            \"boundingBox\": [\n              0.5278,\n              1.0597,\n              1.4569,\n              1.0597,\n              1.4569,\n              1.4347,\n              0.5278,\n              1.4347\n            ],\n            \"language\": null,\n            \"words\": [\n              {\n                \"text\": \"Contoso\",\n                \"boundingBox\": [\n                  0.5278,\n                  1.0597,\n                  1.4569,\n                  1.0597,\n                  1.4569,\n                  1.4347,\n                  0.5278,\n                  1.4347\n                ],\n                \"confidence\": null\n              }\n            ]\n          },\n          {\n            \"text\": \"Address:\",\n            \"boundingBox\": [\n              0.7972,\n              1.5125,\n              1.3958,\n              1.5125,\n              1.3958,\n              1.6431,\n              0.7972,\n              1.6431\n            ],\n            \"language\": null,\n            \"words\": [\n              {\n                \"text\": \"Address:\",\n                \"boundingBox\": [\n             [...]
