{
  "Entries": [
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"source\": \"https://example.org/fake-source\",\n  \"sourceFilter\": {\n    \"prefix\": \"fake-filter\",\n    \"includeSubFolders\": false\n  }\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://example.org/formrecognizer/v2.0-preview/custom/models/2cefbbb0-ae1e-411e-8ca3-f4011ebb1e89"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/2cefbbb0-ae1e-411e-8ca3-f4011ebb1e89?includeKeys=false",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"modelInfo\": {\n    \"modelId\": \"2cefbbb0-ae1e-411e-8ca3-f4011ebb1e89\",\n    \"status\": \"creating\",\n    \"createdDateTime\": \"2019-11-15T13:49:21Z\",\n    \"lastUpdatedDateTime\": \"2019-11-15T13:49:21Z\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/2cefbbb0-ae1e-411e-8ca3-f4011ebb1e89?includeKeys=false",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"modelInfo\": {\n    \"modelId\": \"2cefbbb0-ae1e-411e-8ca3-f4011ebb1e89\",\n    \"status\": \"ready\",\n    \"createdDateTime\": \"2019-11-15T13:49:21Z\",\n    \"lastUpdatedDateTime\": \"2019-11-15T13:49:34Z\"\n  },\n  \"trainResult\": {\n    \"averageModelAccuracy\": 0.0,\n    \"trainingDocuments\": [\n      {\n        \"documentName\": \"1.pdf\",\n        \"pages\": 1,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      },\n      {\n        \"documentName\": \"2.pdf\",\n        \"pages\": 1,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      },\n      {\n        \"documentName\": \"3.pdf\",\n        \"pages\": 1,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      },\n      {\n        \"documentName\": \"4.pdf\",\n        \"pages\": 2,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      },\n      {\n        \"documentName\": \"5.pdf\",\n        \"pages\": 1,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      }\n    ],\n    \"errors\": []\n  }\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}