{
  "Entries": [
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"source\": \"https://example.org/fake-source\",\n  \"sourceFilter\": {\n    \"prefix\": \"fake-filter\",\n    \"includeSubFolders\": false\n  }\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://example.org/formrecognizer/v2.0-preview/custom/models/5384ea4f-3d8e-41f2-987b-ed45f4cd1771"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    }
  ],
  "Names": {},
  "Variables": {}
}