{
  "Entries": [
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyze?includeTextDetails=True",
      "RequestMethod": "POST",
      "RequestBody": "%PDF-1.7\r%����\r\n81 0 obj\r<</Linearized 1/L 96986/O 83/E 90972/N 1/T 96667/H [ 552 211]>>\rendobj\r                  \r\n106 0 obj\r<</DecodeParms<</Columns 5/Predictor 12>>/Filter/FlateDecode/ID[<72518C8F0EE40D4C8C517607EC24B2B3><B68E9682003360498D36A981ED1EA894>]/Index[81 60]/Info 80 0 R/Length 114/Prev 96668/Root 82 0 R/Size 141/Type/XRef/W[1 3 1]>>stream\r\nh�bbd`\u0010``b``z\r\"\u0019����@��+�dn\u0002��\u0005��\u0000��`�\u001f��\u0004��`�&Xe\u0004�t�\u0002��@$C\f��)\u0005����`q�Ht$X�.�H\u0001��\u0000��\u0000���@\u00161<\u0000���8���\fLW\u001e\u0000\u0004\u0018\u0000��\u0012�\r\nendstream\rendobj\rstartxref\r\n0\r\n%%EOF\r\n                                        \r\n140 0 obj\r<</C 131/Filter/FlateDecode/I 153/Length 117/S 38/V 109>>stream\r\nh�b``\[...]
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyzeResults/db0f469f-5e7c-43fa-98d1-7ad292308a49",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"notStarted\",\n  \"createdDateTime\": \"2019-11-15T15:31:37Z\",\n  \"lastUpdatedDateTime\": \"2019-11-15T15:31:37Z\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyzeResults/db0f469f-5e7c-43fa-98d1-7ad292308a49",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"succeeded\",\n  \"createdDateTime\": \"2019-11-15T15:31:37Z\",\n  \"lastUpdatedDateTime\": \"2019-11-15T15:31:47Z\",\n  \"analyzeResult\": {\n    \"version\": \"2.0.0\",\n    \"readResults\": [\n      {\n        \"page\": 1,\n        \"angle\": 0,\n        \"width\": 8.5,\n        \"height\": 11.0,\n        \"unit\": \"inch\",\n        \"language\": null,\n        \"lines\": [\n          {\n            \"text\": \"Contoso\",\n            \"boundingBox\": [\n              0.5278,\n              1.0597,\n              1.4569,\n              1.0597,\n              1.4569,\n              1.4347,\n              0.5278,\n              1.4347\n            ],\n            \"language\": null,\n            \"words\": [\n              {\n                \"text\": \"Contoso\",\n                \"boundingBox\": [\n                  0.5278,\n                  1.0597,\n                  1.4569,\n                  1.0597,\n                  1.4569,\n                  1.4347,\n                  0.5278,\n                  1.4347\n                ],\n                \"confidence\": null\n              }\n            ]\n          },\n          {\n            \"text\": \"Address:\",\n            \"boundingBox\": [\n              0.7972,\n              1.5125,\n              1.3958,\n              1.5125,\n              1.3958,\n              1.6431,\n              0.7972,\n              1.6431\n            ],\n            \"language\": null,\n            \"words\": [\n              {\n                \"text\": \"Address:\",\n                \"boundingBox\": [\n             [...]
