{
  "Entries": [
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/0e2906e4-298a-4249-a37c-d60fb29fc6b5?includeKeys=false",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"modelInfo\": {\n    \"modelId\": \"0e2906e4-298a-4249-a37c-d60fb29fc6b5\",\n    \"status\": \"ready\",\n    \"createdDateTime\": \"2019-11-14T22:43:58Z\",\n    \"lastUpdatedDateTime\": \"2019-11-14T22:44:09Z\"\n  },\n  \"trainResult\": {\n    \"averageModelAccuracy\": 0.0,\n    \"trainingDocuments\": [\n      {\n        \"documentName\": \"1.pdf\",\n        \"pages\": 1,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      },\n      {\n        \"documentName\": \"2.pdf\",\n        \"pages\": 1,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      },\n      {\n        \"documentName\": \"3.pdf\",\n        \"pages\": 1,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      },\n      {\n        \"documentName\": \"4.pdf\",\n        \"pages\": 2,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      },\n      {\n        \"documentName\": \"5.pdf\",\n        \"pages\": 1,\n        \"errors\": [],\n        \"status\": \"succeeded\"\n      }\n    ],\n    \"errors\": []\n  }\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}