{
  "Entries": [
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyze?includeTextDetails=False",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"source\": \"https://example.org/fake-document.pdf\"\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Operation-Location": [
          "https://example.org/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyzeresults/a77217df-0303-428e-8713-b5573b7f70fc"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyzeResults/a77217df-0303-428e-8713-b5573b7f70fc",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"notStarted\",\n  \"createdDateTime\": \"2019-11-15T15:06:21Z\",\n  \"lastUpdatedDateTime\": \"2019-11-15T15:06:21Z\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyzeResults/a77217df-0303-428e-8713-b5573b7f70fc",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"succeeded\",\n  \"createdDateTime\": \"2019-11-15T15:06:21Z\",\n  \"lastUpdatedDateTime\": \"2019-11-15T15:06:23Z\",\n  \"analyzeResult\": {\n    \"version\": \"2.0.0\",\n    \"readResults\": [\n      {\n        \"page\": 1,\n        \"angle\": 0,\n        \"width\": 8.5,\n        \"height\": 11.0,\n        \"unit\": \"inch\",\n        \"language\": null,\n        \"lines\": []\n      }\n    ],\n    \"pageResults\": [\n      {\n        \"page\": 1,\n        \"keyValuePairs\": [\n          {\n            \"key\": {\n              \"text\": \"Address:\",\n              \"boundingBox\": [\n                0.7972,\n                1.5125,\n                1.3958,\n                1.5125,\n                1.3958,\n                1.6431,\n                0.7972,\n                1.6431\n              ],\n              \"elements\": null\n            },\n            \"value\": {\n              \"text\": \"1Redmond way Suite 6000 Redmond, WA 99243\",\n              \"boundingBox\": [\n                0.7972,\n                1.6639,\n                2.1167,\n                1.6639,\n                2.1167,\n                2.2181,\n                0.7972,\n                2.2181\n              ],\n              \"elements\": null\n            },\n            \"confidence\": 1.0\n          },\n          {\n            \"key\": {\n              \"text\": \"Invoice For:\",\n              \"boundingBox\": [\n                4.3903,\n                1.5125,\n                5.1139,\n                1.5125,\n                5.1139,\n                1.6431,\n                4.3903,\n                1.6431\n              ],\n              \"elements\": null\n            },\n            \"value\": {\n              \"text\": \"Microsoft 1020 Enterprise Way Sunnayvale, CA 87[...]
