{
  "Entries": [
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models?op=summary",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"summary\": {\n    \"count\": 3,\n    \"limit\": 250,\n    \"lastUpdatedDateTime\": \"2019-11-15T12:36:44.7654975Z\"\n  }\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}