{
  "Entries": [
    {
      "RequestUri": "/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyze?includeTextDetails=true",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"source\": \"https://example.org/fake-document.pdf\"\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Operation-Location": [
          "https://example.org/formrecognizer/v2.0-preview/custom/models/f39efed8-edaf-4e0f-af3d-1ca1119368b3/analyzeresults/62be37bf-cd35-4dee-af5b-72a39f966ff4"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {}
}